i tried
model
packages/tutorials
scratch
packages/utilities/.autosave
packages/utilities/Bruno_Advanced_Crop/.autosave
*.autosave
*.zip
*.psd
*.ai
README.txt
changelog.txt
install.txt
SHELF/alphas/JRO_JP.OrnamentTiles_PNG
SHELF/alphas/JP Trim
SHELF/alphas/JRO_JP.OrnamentAlphas_PNG
SHELF/JP Ornament TRIM PNG
SHELF/materials/.alg_meta
SHELF/alphas/JRO/JRO_JP.OrnamentAlphas_PNG
SHELF/alphas/JRO/JRO_JP.OrnamentTiles_PNG
SHELF/alphas/JRO/JP Ornament TRIM PNG
packages/mine/Wallpaper_Groups_V2.resources
packages/mine/Wallpaper_Groups_v3.resources
